<div class='hero-unit'>
<h1>CooperDistri</h1>
<p>Sistema de Gestión de Ahorros y Prestamos de la Cooperativa de Distribuidores</p>
<h4>Administradores:</h4>
<p>**Lic. Miguel A. Miño    **Lic. Casto Sarubbi</p>
</div>